<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: arial;
      }

      .header {
        text-align: center;
      }

      .card {
        box-shadow: -1px 4px 15px 0 rgba(0, 0, 0, 0.5);
        max-width: 500px;
        margin: auto;
        padding: 12px;
        margin-bottom: 15px;
        border-radius: 10px;
      }

      .card-header {
        color: #7a7886;
        font-size: 16px;
      }

      .card-title {
        color: #514f5b;
        font-size: 15px;
        margin-top: 5px;
        font-weight: bold;
      }

      .card-content {
        margin-top: 5px;
        /* display: flex;
        align-items: center; */
      }

      .card-image {
        width: 50px;
        height: 50px;
        box-shadow: -1px 3px 5px 0 rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        margin-right: 10px;
        object-fit: cover;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <!-- <img src="https://zwalet.herokuapp.com/uploads/checklist.png" alt="John" style="width: 10%" /> -->
      <h2>Transfer <%= result.status %></h2>
    </div>
    <div class="card">
      <div class="card-header">Amount</div>
      <div class="card-title"><%= result.balance %></div>
    </div>
    <div class="card">
      <div class="card-header">Balance Left</div>
      <div class="card-title"><%= result.amount %></div>
    </div>
    <div class="card">
      <div class="card-header">Date & Time</div>
      <div class="card-title"><%= result.createdAt %></div>
    </div>
    <div class="card">
      <div class="card-header">Notes</div>
      <div class="card-title"><%= result.notes %></div>
    </div>
    <div class="card">
      <div class="card-header"><b>Transfer to</b></div>
      <div class="card-content">
        <!-- <img src="<%= result.image %>" alt="John" class="card-image" /> -->
        <div>
          <div class="card-title"><%= result.fullName %></div>
          <div class="card-title"><%= result.noTelp %></div>
        </div>
      </div>
    </div>
    <h5 class="header">&copy; Copyright 2022, FazzPay</h5>
  </body>
</html>
